.readease-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.re-section {
  display: flex;
  flex-direction: column;
}

.re-section-color {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.re-section-effect {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.re-section-all {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 4px;
}


.re-label-color {
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.re-label-effect {
  font-size: 16px;
  letter-spacing: 1;
  font-weight: 700;
  color: #000;
}

.re-label-all {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.re-value {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  justify-content: flex-end;
  text-align: right;
}

.re-colors {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.re-color-swatch {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: var(--swatch);
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  padding: 0;
}

.re-color-swatch:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.re-color-swatch--active {
  border: 1px solid #000;
  transform: scale(1.1);
}

.re-effect-group {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding-block: 2px;
}

.re-radio-pill {
  gap: 8px;
  height: 24px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #aaaaaa;
  color: #fff;
  user-select: none;
}

.re-radio-pill:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
}

.re-radio-pill input {
  display: none;
}

.re-radio-pill--active {
  border: 1px solid #000;
  background-color: #FFFCE7;
  color: #000;
}

.re-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 260px;
  height: 5px;
  border-radius: 3px;
  background: #EAEAEA;
  cursor: pointer;
}

.re-slider::-webkit-slider-track {
  width: 258px;
  height: 0px;
  border: 5px solid #EAEAEA;
}

.re-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  background: #000;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid #000;
}

.re-remove-btn {
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 0.5px solid #33333380;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.re-remove-btn:hover {
  background-color: #FFFCE7;
}

.re-remove-btn:active {
  background-color: #FFFCE7;
}