h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.popup-options {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.option {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border: 1px solid #eee;
}

.option-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option-info img {
    width: 3rem;
    height: auto;
}

.option-info span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

input:hover {
    cursor: pointer;
}