.popup-options {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.option-info {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.option-info img {
    width: 1.5rem;
    height: auto;
}

.option-info span {
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #000000;
}

.option input {
    width: 1rem;
    height: 1rem;
    accent-color: #000;
    border: 1px solid #333333;
}

.option input:hover {
    border: 1px solid #333333;
    cursor: pointer;
}