.video-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    display: none;   /* youtubea videomuz yüklendikten sonra bunu kaldır */
}

.video-section-container h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #333333;
}

.video-container {
  width: 100%;
  max-width: 1120px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}