.video-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.video-section-container h3 {
    font-size: 3rem;
    font-weight: 700;
    color: #333333;
}

