section {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
}

.hero-information {
    display: flex;
    flex-direction: column;
    gap: 2rem;   
}

.hero-information h1 {
    font-size: 2.5rem;
    color: #333;
}

.hero-information h4 {
    font-size: 0.875rem;
    color: #7c3aed;
}

.hero-information p {
    font-size: 0.75rem;
    color: #333;
}

.cta-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.get-started, .video {
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    cursor: pointer;
}

.get-started {
    background-color: #7c3aed;
    color: #fff;
}

.video {
    border: 1px solid #333;
}

.hero-image {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
   .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-inline: 4rem;
        margin-block: 2rem;
        gap: 2rem;
    }

    .hero-information h1 {
        font-size: 3.5rem;
        color: #333;
    }

    .hero-information h4 {
        font-size: 1rem;
        color: #7c3aed;
    }

    .hero-information p {
        font-size: .875rem;
        color: #333;
    }

    .cta-buttons {
        flex-direction: row;
        gap: 1rem;
    }

    .get-started, .video {
        padding: 1rem;
        border-radius: .5rem;
    }

    .get-started {
        background-color: #7c3aed;
        color: #fff;
    }

    .hero-image {
        width: 60%;
        height: auto    ;
    } 
}