* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.popup-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 1rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
}

.popup-options{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.option {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border: 1px solid #eee;
}

.option-info {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.option-info img {
    width: 2rem;
    height: 2rem;
}

.option-info span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

input:hover {
    cursor: pointer;
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

button {
    background-color: rgba(255, 221, 80, 1);
    color: rgba(51, 51, 51, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 0.875rem;
    transition: background-color .2s ease;
}

button:hover {
    background-color: rgba(255, 240, 144, 1);
}