* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.popup-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    box-shadow: 0px 4px 8px 0px #0A0B0D52, 0px 0px 2px 0px #0000000A;
    border: 0.5px solid #33333380;
    border-radius: .5rem;
    background-color: #fff;
    padding: 1rem;
}

h3 {
    font-size: .875rem;
    font-weight: 700;
}

.main-menu {
    display: flex;
    flex-direction: row;
}

.menu-btn {
    border-radius: 8px;
    border: none;
    padding: .25rem .75rem;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: #595D62;
}

.menu-btn img {
    width: 24px;
    height: 21px;
}

.menu-btn:hover {
    background-color: #FFFCE7;
    color: #000;
}