* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.popup-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 292px;
    background-color: #fff;
    padding: 1rem;
}

.popup-container h3 {
    font-size: 1rem;
    font-weight: 800;
}

.main-menu {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.menu-btn {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    border-radius: 8px;
    border: none;
    padding: .25rem .125rem;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s ease;
    background-color: #fff;
    color: #595D62;
}

.menu-btn img {
    width: 24px;
    height: 21px;
}

.menu-btn:hover,
.menu-btn.active {
    background-color: #FFFCE7;
    color: #000;
    cursor: pointer;
}

.tab-content {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
}