body {
  background-color: #ffffff !important;
  color: #121212 !important;
}

h1, h2, h3 {
  color: #0B3D91 !important;
}

p, li, span, div {
  color: #121212 !important;
}

small {
  color: #555555 !important;
}

a {
  color: #0072B2 !important;
}

a:hover,
a:focus {
  text-decoration: underline !important;
}

button,
.btn,
input[type="submit"] {
  background-color: #E69F00 !important;
  color: #000000 !important;
  border: none !important;
}

:focus {
  outline: 3px solid #0072B2 !important;
  outline-offset: 2px;
}